<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rev.revfile.dao.WorksMapper">

<!--修改作品信息重新上传文件-->
  <update id="updateWorksByAttendorid" parameterType="com.rev.revfile.bean.works">
  update works
    <set>
        submitTime=#{submittime},
        filePath=#{filepath},
        workName=#{workname},
        description=#{description},
        fileSize=#{filesize}
    </set>
        where attendorid=#{attendorid}
  </update>
    <!--修改文件不传送文件-->
    <update id="updateWorksByAttendoridNofile" parameterType="com.rev.revfile.bean.works">
        update works
        <set>
            submitTime=#{submittime},
            workName=#{workname},
            description=#{description},
        </set>
        where attendorid=#{attendorid}
    </update>
    <!--删除作品-->
  <delete id="deleteWorksByAttendorid" parameterType="com.rev.revfile.bean.works">
    DELETE FROM works WHERE attendorid=#{attendorid};
  </delete>
  <select id="getFileByAttendorId" parameterType="com.rev.revfile.bean.works" resultType="com.rev.revfile.result.FileResult">
  SELECT workName,submitTime,filePath,description FROM works where attendorid=#{attendorid}
  </select>

  <select id="getAllFile"  parameterType="com.rev.revfile.bean.works" resultType="com.rev.revfile.result.FileResult">
      SELECT worksId,workName,submitTime,filePath,description,fileSize from works  where attendorId  in(select attendorid from attendor where activityId=#{activityId})
  </select>
    <insert id="insertFile" parameterType="com.rev.revfile.param.FileParam">
        insert into works
        <trim prefix="(" suffix=")" prefixOverrides=",">
            <if test="null!=attendorId">attendorId</if>
            <if test="null!=submitTime">,submitTime</if>
            <if test="null!=filePath and ''!=filePath">,filePath</if>
            <if test="null!=workName and ''!=workName">,workName</if>
            <if test="null!=description and ''!=description">,description</if>
            <if test="null!=fileSize and ''!=fileSize">,fileSize</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" prefixOverrides=",">
            <if test="null!=attendorId">#{attendorid}</if>
            <if test="null!=submitTime">,#{submitTime}</if>
            <if test="null!=filePath and ''!=filePath">,#{filePath}</if>
            <if test="null!=workName and ''!=workName">,#{workName}</if>
            <if test="null!=description and ''!=description">,#{description}</if>
            <if test="null!=fileSize and ''!=fileSize">,#{fileSize}</if>
        </trim>
    </insert>
   <insert id="uploadfile" parameterType="com.rev.revfile.bean.works">
       insert into works(attendorId,submitTime,filePath,workName,description,fileSize)
       VALUES (#{attendorid},#{submitTime},#{filePath},#{workName},#{description},#{fileSize})
   </insert>

</mapper>