<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rev.judgement.dao.JudgeInfoMapper" >

  <select id="getJudgeByUserId" resultType="com.rev.judgement.bean.JudgeInfo" >
    select * from judge where activityId=#{activityId} AND userId=#{userId}
  </select>
  <insert id="addJudge" parameterType="com.rev.judgement.bean.JudgeInfo">
    insert into judge (activityId,groupId,userId)
    values (#{activityid,jdbcType=INTEGER},#{groupid,jdbcType=INTEGER},#{userid,jdbcType=INTEGER})
  </insert>
  <select id="getJudgeByActivityId" resultType="com.rev.judgement.bean.JudgeInfo" >
    select * from judge where activityId=#{activityId}
  </select>
</mapper>